/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    padding-top: .50rem;
    padding-bottom: .50rem;
    max-width: 12rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px;
	padding-left: calc(12rem + 15px);
    }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 46px 0 0;
    max-width: 12rem;
    border-right: 1px solid #e5e5e5;
}

.sidebar .nav-link.active {
    color: #007bff;
    font-weight: 500;
    background-color: #e6e6e6;
}

.sidebar .nav-link.active .lnr {
    color: inherit;
}

.sidebar .nav-link {
    font-weight: 400;
    color: #666;
    transition: .125s;
    -webkit-transition: .125s;
}

.sidebar .nav-link .nav-text {
    margin-left: 1rem;
    vertical-align: text-bottom;
}

.sidebar .nav-link:not(.active):hover .nav-text {
    color: #222;
}

.sidebar .nav-link:hover .lnr {
    color: inherit;
}

.sidebar .nav-link .lnr {
    color: #999;
    transition: .125s;
    -webkit-transition: .125s;
}

.sidebar .nav-link:hover {
    text-decoration: none;
    background-color: #eee;
}

.sidebar-sticky {
    position: sticky;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 2px;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
    transition: .125s;
    -webkit-transition: .125s;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

.lnr {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}
